.project{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45vh;
    gap: 10px;
}

.project>:nth-child(1){
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--orange);
}

.project>:nth-child(2){
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black);
}

.project>:nth-child(3){
    font-size: 0.9rem;
    color: var(--black);
}

.project>:nth-child(4){
    font-size: 15px;
    color: var(--gray);
}